
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

<h2>Incorrect email and/or password</h2>
<p>Don't have an account? Create one @Html.ActionLink("Here", "Index")</p>

