

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

<nav class="navbar navbar-dark">
    <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
</nav>
<div class="contents login-box">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="form-block mx-auto">
                    <h1>Login</h1>
                    <form action="Verify" method="post">
                        <div class="fields">
                            <input type="text" name="email" placeholder="Enter E-mail Address" required="" class="info" />
                        </div>
                        <div class="fields">
                            <input type="password" name="password" placeholder="Enter Password" required="" class="info" />
                        </div>
                        <div class="fields">
                            <input type="submit" value="Log In" class="btn btn-block btn-primary" id="btnSubmit" />
                        </div>
                        <div class="additional">
                            <p id="click-here">Need an account? @Html.ActionLink("Click Here", "Index")</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


