
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}
@using Assignment1.Models
<nav class="navbar navbar-dark">
    <span class="navbar-brand mb-0 h1"><img src="~/Styles/GDS_LOGO.png" id="gds_title" /></span>
</nav>
<div class="container">
    <h2>Welcome, @Name.role  @Name.first_name @Name.last_name!</h2>
</div>


