
@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Styles/bs/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Styles/bootstrap/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <link href="~/FullCalendar/main.css" rel="stylesheet" />
    @Scripts.Render("~/FullCalendar/main.js")
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
