@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background: #edf2f4;
}

.navbar {
    background-color: #276678;
}

#gds_title {
    margin: 0;
    padding: 0;
    height: 100px;
}

a.click-here {
    font-weight:bold;
}

#notifications {
    position: absolute;
    right: 5em;
    background-color: white;
    z-index: 1;
    width: 200px;
    padding: 10px;
}

.login-box {
    margin: 5%;
    display: flex;
}

.container {
    margin: 30px auto;
    width: 100%;
}

.form-block {
    background: #fff;
    padding: 40px;
    max-width: 400px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

form {
    padding: 10px;
}

.fields, .additional {
    margin: 10px;
}

input {
    margin: 0 auto;
    width: 100%;
}

h1 {
    text-align: center;
}

.body {
    color: yellow;
}

.btn {
    background-color: #1687a7;
    border: solid 1px #1687a7;
    transition: 300ms ease-in-out;
}
.btn:hover {
    background-color: #276678;
    border: solid 1px #276678;
}

a {
    color: #276678;
}

a:hover {
    text-decoration: none;
    color: #1687a7;
}

.nav_title {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_title {
    margin-bottom: 10px;
}

li a {
    display: block;
    text-decoration: none;
}
/*                           Styles for Student and Instructor views                           */

.dashboard {
    margin: 5px 15px;
}

/* Styling for left nav on user dashboard */
.dashboard-nav {
    list-style-type: none;
}

.bell {
    height: 30px;
    width: auto;
    margin-right: 50px;
}

/* Bell Notification - POP UP*/
.btnNotification {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btnNotification .popUpText {
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 75%;
}

.btnNotification .show {
    visibility: visible;
}

/* Course cards styling */
.course-list {
    border: 1px solid #276678;
    width: 275px;
    height: 215px;
    margin: 10px;
}

.vl {
    border: 1px solid #276678;
    height: auto;
    margin: 0 1px;
}

/*                          Profile Page Style                           */
.profile-name {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

/*      Profile Image       */
.profile-block {
    display: block;
    margin: 20px auto;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
    display: block;
    margin: 0 auto;
}

.editProfileBlock {
    display: block;
    text-align: center;
}
.editProfileBtn, .saveProfileBtn, .cancelSaveProfileBtn,
.addCourseBtn, .detailCourseBtn, .editCourseBtn, .cancelEditCoursebtn,
.paymentBtn, .addAssignmentBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid 1px #1687a7;
    border-radius: 5px;
    background-color: #1687a7;
    color: white;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
    .editProfileBtn:hover, .saveProfileBtn:hover,
    .cancelSaveProfileBtn:hover, .addCourseBtn:hover,
    .detailCourseBtn:hover, .editCourseBtn:hover, .cancelEditCoursebtn:hover,
    .paymentBtn:hover, .addAssignmentBtn:hover {
        color: white;
        background-color: #276678;
        border: solid 1px #276678;
    }

/*      Edit Profile Page       */
.chooseFileBtn {
    margin: 15px 0;
}


/*.editField {
    background: #fff;
    padding: 40px;
    max-width: 400px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
*/


/*      Add Course View         */
.course-view {
    margin: 0 30px;
}
.detailCardBtn {
    margin: 10px;
}

.instructor-course-list {
    border: 1px solid #276678;
    width: 300px;
    height: 250px;
    margin: 10px;
}


/*      Course Detail View      */
.courseNumD {
    text-align: center;
}
.editCourseBtn, .addCourseBtn, .deleteCourseBtn {
    margin: 15px 0;
    margin-right: 10px;
}
.courseDetail-list {
    font-size: 20px;
    margin: 5px;
}
.btnFields {
    display: inline-flex;
}
.deleteCourseBtn a {
    display: inline;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid 1px #8d0101;
    border-radius: 5px;
    background-color: #8d0101;
    color: white;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

    .deleteCourseBtn a:hover {
        color: white;
        background-color: #680101;
        border: solid 1px #680101;
    }

/*      Edit Course View */
.course-form {
    align-content: center;
}
.dropDownDepartment {
    width: 300px;
}

/* Unregister */
.danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
.danger:hover {
    background-color: #981b27;
    border-color: #981b27;
}

/*      Instructor Assignment View      */  

.assignment-list {
    padding: 0 8px;
}

.assignment-list-item {
    padding: 5px;
    margin-top: 7px;
}

.hr-assignment-list {
    margin: 0 auto;
}


@media (max-width: 767.98px) {
    .form-block {
        padding: 25px;
    }
}
